// Global style variables

// Base colours
$primary-color: #93cdfe;
$secondary-color: #8f9da3;
$error-color: #ef4400;
$warning-color: #f27a31;
$info-color: #0b517d;
$success-color: #1f323e;
$disabled-color: #d5dde4;
$disabled-text-color: #808080;
$hover-color: #f3b792;

// Background colours
$background-default: #e2eaf1;
$background-darker: #d5dde4;
$background-lighter: #eff7fe;
$header-background: lighten($primary-color, 15%);
$footer-background: lighten($primary-color, 12%);

// Hero colours
$branding-color: #f27a31;

// Status colours
$queued-color: #f3b792;
$approved-color: #1f323e;
$rejected-color: #ef4400;