// Global style variables

// Base colours
$primary-color: #93cdfe;
$secondary-color: #8f9da3;
$error-color: #ef4400;
$warning-color: #f27a31;
$info-color: #0b517d;
$success-color: #1f323e;
$disabled-color: #d5dde4;
$disabled-text-color: #808080;
$hover-color: #f3b792;

// Background colours
$background-default: #e2eaf1;
$background-darker: #d5dde4;
$background-lighter: #eff7fe;
$background-opaque: rgba(255, 255, 255, 0.5);
$background-semi-opaque: rgba(255, 255, 255, 0.8);
$header-background: lighten($primary-color, 15%);
$footer-background: lighten($primary-color, 12%);

// Scrollbar colours
$scrollbar-thumb: $info-color;
$scrollbar-track: $background-opaque;
$scrollbar-thumb-hover: #c8d4db;

// Hero colours
$branding-color: #f27a31;

// Status colours
$queued-color: #93cdfe;
$approved-color: #1f323e;
$rejected-color: #ef4400;

// Borders
$border-primary: 1px solid #cccccc;
$box-shadow-heavy: 0 4px 6px rgba(0, 0, 0, 0.7), 0 1px 3px rgba(0, 0, 0, 0.5); 
$box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3); 
$border-radius: 8px;

// Gallery card sizes
$small-image-size: 100px;
$image-size: 200px;
$hero-image-size: 300px;
