// Global style variables
$primary-color: #93cdfe;
$secondary-color: #8f9da3;
$error-color: #ef4400;
$warning-color: #f27a31;
$info-color: #0b517d;
$success-color: #1f323e;
$background-default: #ffffff;


$branding-color: #ef4400;
$branding-colour-light: #f27a31;