@import "../Styles/variables";

////////////////////////////////////////
// Gallery card styles
.gallery-image-container {
  display: block;
  position: relative;
}

.details-button {
  position: absolute !important;
  bottom: 4px !important;
  left: 0 !important;
  background: $background-opaque !important;
  border-radius: 0 0 0 8px !important;
  text-align: center !important;
  &:hover {
    background: $hover-color !important;
    &.gallery {
      transform: scale(1.05);
    }
    &.hero {
      transform: scale(1.08);
    }
  }
  &.gallery {
    font-size: 10pt !important;
    height: 20px !important;
    left: 2.5%;
  }
  &.hero {
    font-size: 12pt !important;
    height: 30px !important;
    left: -2.5%;
  }
}

.stamp {
  &.gallery {
    width: $image-size;
  }
  &.hero {
    width: $hero-image-size;
  }
}

.gallery-card-image {
  border-radius: $border-radius;
  object-fit: cover;
  &.small {
    height: $image-size;
    width: $image-size;
    max-width: 100%;
    max-height: 100%;
    box-shadow: $box-shadow-light;
  }
  &.gallery {
    height: $image-size;
    width: $image-size;
    max-width: 100%;
    max-height: 100%;
    box-shadow: $box-shadow-light;
  } 
  &.hero {
    height: $hero-image-size;
    width: $hero-image-size;
    max-width: 100%;
    max-height: 100%;
    box-shadow: $box-shadow-heavy;
  }
  &.modal {
    height: 200px;
    width: 300px;
  }
}

.gallery-card-tag {
  & p {
    color: $success-color;
    font-weight: 600;
    padding: 0;
    margin: 5px;
  }
}

////////////////////////////////////////
/// User card styles
.user-card-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border: $border-primary;
  border-radius: $border-radius-large;
  width: 600px;
  box-sizing: border-box;
  box-shadow: $box-shadow-xlight;
  background: $background-lighter;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;

  &:hover {
    transform: scale(1.02);
    box-shadow: $box-shadow-light;
    background-color: $hover-color;
  }

  & p {
    margin: 2px 0px;
    padding: 1px 0px;
  }
}


////////////////////////////////////////
/// Icons
.MuiIconButton-root {
  background-color: transparent !important;
}

.edit-icon {
  position: absolute !important;
  bottom: 4px !important;
  color: $primary-color;
  cursor: pointer;
  z-index: 1001;
  &:hover {
    color: $hover-color;
    transform: scale(1.2);
  }
  &.hero {
    font-size: 1.75rem;
    left: $hero-image-size - 30px !important;
    &:hover {
      transform: scale(1.2);
    }
  }
  &.gallery {
    font-size: 1.5rem;
    left: $image-size - 25px !important;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.upload-icon {
  font-size: 45px !important;
  position: absolute !important;
  bottom: 5px !important;
  right: 5px!important;
  color: $warning-color;
  cursor: pointer;
  z-index: 1001;
  translate: all 0.1s ease-in-out;
  &:hover {
    color: $primary-color;
    transform: scale(1.2);
  }
}

.delete-icon {
  position: absolute !important;
  top: 4px !important;
  color: $warning-color;
  cursor: pointer;
  z-index: 1001;
  &:hover {
    color: $error-color;
    transform: scale(1.2);
  }
  &.hero {
    font-size: 1.75rem;
    left: $hero-image-size - 30px !important;
    &:hover {
      transform: scale(1.2);
    }
  }
  &.gallery {
    font-size: 1.5rem;
    left: $image-size - 25px !important;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.refresh-icon {
  position: absolute !important;
  top: 4px !important;
  color: $primary-color;
  cursor: pointer;
  z-index: 1001;
  &:hover {
    color: $hover-color;
    transform: scale(1.2);
  }
  &.hero {
    font-size: 1.75rem;
    right: 4px !important;
    &:hover {
      transform: scale(1.2);
    }
  }
  &.gallery {
    font-size: 1.5rem;
    right: 4px !important;
    &:hover {
      transform: scale(1.1);
    }
  }
}