// Import the global vars
@import 'variables';

///////////////////////////////////////////////////////////
// Global styles - Desktop
body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-default;
  color: $secondary-color;
}


///////////////////////////////////////////////////////////
/// Headings
h1, h2, h3 {
  color: $info-color;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 6rem;
}

///////////////////////////////////////////////////////////
/// Buttons
.button {
  background-color: $branding-color;
  color: $background-default;
}

.navButton {
  color: $branding-colour-light;
}

.warningButton {
  background-color: $warning-color;
  color: $background-default;
}

.helpButton {
}

.errorButton {
  background-color: $error-color;
  color: $background-default;
}

.successButton {
  background-color: $success-color;
  color: $background-default;
}

.textButton {
  background-color: transparent;
  color: $branding-color;
}

///////////////////////////////////////////////////////////
/// Modals
.modal {
  background-color: $background-default;
  color: $secondary-color;
  &.oneButton {
    button {
      background-color: $branding-color;
      color: $background-default;
    }
  }
  &.twoButton {
    button {
      background-color: $branding-color;
      color: $background-default;
    }
  }
  &.timed {

  }
}

///////////////////////////////////////////////////////////
// Mobile styles
@media (max-width: 600px) {
  body {
  }
}

///////////////////////////////////////////////////////////
/// Tablet styles
@media (min-width: 601px) and (max-width: 900px) {
  body {
  }
}