@import 'variables';

// Global styles - Desktop
html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove padding */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-default;
  color: $secondary-color;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Remove any margin */
  padding: 0; /* Ensure there's no padding on the root */
  box-sizing: border-box;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $info-color;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 6rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  &.left {
    text-align: left;
    align-self: flex-start;
  }
}

p {
  color: $info-color;
}

.img {
  box-shadow: $box-shadow-light !important;
}

////////////////////////////////////////////////////////////////
// Scroll bar
/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb;
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb $scrollbar-track;
}

////////////////////////////////////////////////////////////////
// Search
.search-box {
  box-shadow: $box-shadow-light;
}

.property-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid none;
  border-radius: 10px;
  width: 30%;
  max-width: 300px;
  margin-left: 40px;
}


////////////////////////////////////////////////////////////////
// Cards
.property-details-container {
  color: $success-color; 
}

.address-title {
  display: flex;
  justify-content: space-between;
  color: $info-color;
  padding: 10px;
}

.small-display-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow-xlight;
  width: 100%;
  background: $background-lighter;
  min-height: 55px;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: $box-shadow-light;
    background-color: $hover-color;
  }  
}

.small-display-card-text {
  color: $info-color;
  font-weight: bold;
  font-size: 14px;
  p {
    margin: 0;
  }
  p:first-child {
    font-weight: normal;
    margin-bottom: 5px;
  }
}

.add-property-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 90%;
  background: $background-lighter;
  min-height: 55px;
  padding-right: 35px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: $hover-color;
  }   

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .add-icon {
    height: 60px;
    width: 60px;
    color: #f27a31;
  }

  .small-display-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      color: #333;
    }

    .text {
      font-size: 14px;
      margin: 0;
      color: #666;
    }
  }
}

////////////////////////////////////////////////////////////////
// Buttons
.css-bq05nv-MuiSvgIcon-root {
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.MuiButton-root.button {
  background-color: $branding-color;
  color: white;
  border-radius: 10px;

  &.disabled {
    background-color: $background-lighter;
    color: grey;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $primary-color;
    color: $success-color;
  }
}

.MuiButton-root.navButton {
  color: $branding-color;
}

.MuiButton-root.warningButton {
  background-color: $warning-color;
  color: $background-default;
  border-radius: 10px;
}

.MuiIconButton-root.helpButton {
  color: $branding-color;
  background-color: transparent;
  position: fixed;
  bottom: 30px;
  z-index: 1;
  padding: 0px;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $primary-color;
  }
}

.MuiIconButton-root.settingsButton {
  color: $branding-color;
  background-color: transparent;
  padding: 0px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $primary-color;
    transform: scale(1.05);
  }
}

.MuiIconButton-root.uploadButton {
  color: $success-color;
  background-color: transparent;
  padding: 0px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $primary-color;
    transform: scale(1.1);
  }
}

.MuiButton-root.errorButton {
  background-color: $warning-color;
  color: $background-default;
  border-radius: 10px;
  border: 1px solid $error-color;

  &:hover {
    background-color: $error-color;
  }
}

.MuiButton-root.successButton {
  background-color: $success-color;
  color: $background-default;
  border-radius: 10px;

  &:hover {
    background-color: $primary-color;
    color: $success-color;
  }
}

.MuiButton-root.cancelButton {
  background-color: white;
  color: $primary-color;
  border: $primary-color 1px solid;
  border-radius: 10px;
}

.MuiButton-text {
  background-color: transparent;
  color: $success-color;
  font-size: 1rem !important;
  &:hover {
    color: $branding-color;
    background-color: transparent !important;
  }
}

////////////////////////////////////////////////////////////////
// Modals
// Modal container
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 1rem 2rem 2rem 2rem;
  background-color: $background-default !important;
  text-align: center;
  border-radius: 20px;
}

// Modal title
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: $branding-color;
  padding-bottom: 15% !important;
}

.modal-2-button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 40px;
  width: 100%;
  align-items: center;
}

// Content
.css-1t4vnk2-MuiDialogContent-root {
  padding: 10% 0% !important;
  background-color: $background-default;
  color: $info-color;
}

// Dividers
.css-1t4vnk2-MuiDialogContent-root {
  border-color: $primary-color !important;
}

////////////////////////////////////////////////////////////////
// Forms
.formContainer-wholePage {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding-bottom: 20vh;
}

.MuiFormControlLabel-asterisk {
  color: $info-color;
}

////////////////////////////////////////////////////////////////
// Background overlay
.overlay-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust as needed for filter effect */
  backdrop-filter: blur(10px); /* Apply blur filter */
  z-index: 1;
}

.overlay-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: $background-default;
  border-radius: 20px;
  padding: 20px;
}

.overlay-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

////////////////////////////////////////////////////////////////
// Alerts
.MuiAlert-root {
  z-index: 1000;
}

////////////////////////////////////////////////////////////////
// Images and Icons
.thumbnail-image {
  width: $thumbnail-size;
  height: $thumbnail-size;
  border-radius: $circle;
  object-fit: cover;
}

.carousel-arrow {
  color: $branding-color;
  font-size: 2rem;
  fill:#f27a31;
}

////////////////////////////////////////////////////////////////
/// Image Approval Card
.image-approval-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: $border-radius;
  background-color: $background-default;
  box-shadow: $box-shadow-heavy;
  width: 300px;
  height: 120px;
}

.image-wrapper {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-approval-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  grid-column: 2 / 3;
}

.status-stamp {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 8px 8px 0px 0px;
}

.image-approval-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.image-tag {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: $success-color;
}

.rejection-reason {
  font-size: 12px;
  color: $success-color;
  margin-top: auto;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.image-approval-button-wrapper {
  margin-top: auto;
}


////////////////////////////////////////////////////////////////
/// Logo
.logo {
  &.small {
    width: 100px;
    height: 75px;
  }
  &.medium {
    width: 150px;
    height: 112.5px;
  }
  &.large {
    width: 200px;
    height: 150px;
  }
}

.logo-container {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.logo-text {
  color: $branding-color;
  font-weight: bold;
  margin: 5px !important;
  &.small {
    font-size: 1rem;
  }
  &.medium {
    font-size: 1.5rem;
  }
  &.large {
    font-size: 2rem;
  }
}


////////////////////////////////////////////////////////////////
/// Inputs
.text-input-container {
  width: 100%;
  &.number {
    width: 120px;
  }

  .text-input-label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: $success-color;
    text-align: left;
    &.number {
      margin: 0;
    }
  }

  .text-input {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 300px;
    padding: 10px;
    border-radius: $border-radius;
    border: 1px solid $primary-color;
    background-color: $background-lighter;
    color: $success-color;
    box-shadow: none;
    resize: vertical;
    overflow-y: auto; 
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    resize: none;
    &:focus {
      outline: inherit;
      border-color: $primary-color;
    }
    
    &.number {
      width: 80px;
    }
    
    &.small {
      height: 40px;
    }
    &.large {
      height: 200px;
    }
    &.input-focused {
      background-color: $background-default;
      box-shadow: $box-shadow-light-inset;
      outline: none;
      border-color: transparent;
    }

    &.input-error {
      border-color: red;
    }
  }

  .helper-text {
    margin-top: 5px;
    font-size: 12px;
    color: #666;

    &.error-text {
      color: red;
    }
  }
}

.number-icon-container {
  padding-right: 10px; 
}

.number-icon {
  color: $success-color;
  font-size: 24px;
}

////////////////////////////////////////////////////////////////
// Header
.header {
  position: relative;
  top: 0;
  left: 0; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  box-shadow: $box-shadow-subtle;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $header-background;  
  backdrop-filter: blur(10px);
}


////////////////////////////////////////////////////////////////
/// Navigation
.css-19krrja-MuiToolbar-root{
  display: none !important;  // Hide the mui gutter drawer until needed
}


////////////////////////////////////////////////////////////////
// Footer
.footer {
  position: relative;
  bottom: 0;
  left: 0; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: inherit;
  box-sizing: border-box;
  overflow-x: hidden;

  span {
    color: $secondary-color;
    font-weight: normal; 
  }

  p:first-of-type {
    color: $success-color;
    font-weight: bold;
  }

  p:last-of-type {
    color: $secondary-color;
  }
}

.footer-text {
  margin-left: 2rem;
  margin-right: 7rem;
}

////////////////////////////////////////////////////////////////
/// Mui overrides
.css-1q4x04-MuiPaper-root-MuiAppBar-root {
  background-color:  rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}


////////////////////////////////////////////////////////////////
/// Viewport specific styles
// Mobile styles
@media (max-width: 780px) {
  body {
  }
}

.mobile-only {
  @media screen and (min-width: 780px) {
    display: none;  
  }
}

// Tablet styles
@media (min-width: 781px) and (max-width: 900px) {
  body {
  }
}

.mobile-tablet-only {
  @media screen and (min-width: 900px) {
    display: none;  
  }
}

// Desktop styles
@media (min-width: 901px) {
  body {
  }
}

.tablet-desktop-only {
  @media screen and (max-width: 780px) {
    display: none;  
  }
}

.desktop-only {
  @media screen and (max-width: 900px) {
    display: none;  
  }
}