@import "../Styles/variables";


.popover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden; 
  background-image: url('../Images/frosted_glass_bg.png');
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: $border-radius;
  height: 100%;
  width: 100%;
  & p {
    color: $success-color;
    font-weight: bold;
  }
  &.gallery {
    padding: 2px;
    height: $image-size;
    width: $image-size;
  }
  &.hero {
    padding: 10px;
    height: $hero-image-size;
    width: $hero-image-size;
  }
  &.property-card {
    border-radius: 0;
    height: $property-card-height;
    width: $property-card-width;
    box-sizing: border-box;
  }
  &.thumbnail {
    height: $thumbnail-size;
    width: $thumbnail-size;
    border-radius: $border-radius-left;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    overflow-y: hidden;
  }
}

.popover-content {
  background: transparent;
  border: none;
  &.gallery {
    padding: 5px;
    height: $image-size;
    width: $image-size;
  }
  &.hero {
    padding: 2px;
    height: $hero-image-size;
    width: $hero-image-size;
  }
  &.property-card {
    height: $property-card-height;
    width: $property-card-width;
    text-align: center;
    & h2 {
      padding: 1rem 0rem 1rem 0rem;
      color: $warning-color;
      text-shadow: $text-shadow;
    }
    & p {
      padding: 0rem 1.5rem 0rem 1.5rem;
      text-align: left;
    }
  }
}
