@import "../Styles/variables";


.popover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-sizing: border-box;
  overflow-x: hidden; 
  background-image: url('../Images/frosted_glass_bg.png');
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: $border-radius;
  & p {
    color: $success-color;
    font-weight: bold;
  }
  &.gallery {
    padding: 2px;
    height: $image-size;
    width: $image-size;
  }
  &.hero {
    padding: 10px;
    height: $hero-image-size;
    width: $hero-image-size;
  }
}

.popover-content {
  background: transparent;
  border: none;
  padding: 5px;
  &.gallery {
    padding: 5px;
    height: $image-size;
    width: $image-size;
  }
  &.hero {
    padding: 2px;
    height: $hero-image-size;
    width: $hero-image-size;
  }
}
