@import "../Styles/variables";

$padding: 5rem;

.gallery-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 95vw;
  box-sizing: border-box;
  background: $background-lighter;
  align-self: center;
  border-radius: $border-radius;
  box-shadow: $box-shadow-heavy; 
}

.placeholder-card {
  position: relative;
}

.hero-card-container {
  display: flex;
  flex-direction: row;
  padding: 0 $padding;
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .hero-card-container {
    justify-content: center;
  }
}

.other-cards-container {
  display: flex;
  overflow-x: hidden;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 2rem;
  row-gap: 1rem;
  padding: 1rem $padding;
  box-sizing: border-box;
  align-items: center;
}

.gallery-card-checkbox {
  display: flex;
  align-items: flex-start;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: start;
}

.back-arrow {
  color: $branding-color;
  transition: all 0.3s ease-in-out;
  margin-right: 40px;
  margin-bottom: 20px;
  &:hover {
    background-color: transparent;
    color: $primary-color;
    font-size: 28px;
  }
}



.address {
  text-align: left;
  margin-bottom: 15px;
  padding: 0 $padding;
}


