@import '../Styles/global.scss';

.image-approval-page {
  padding: 20px;
  background-color: $background-default;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.content-container {
  background-color: $background-lighter;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.property-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.property-image-container {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-info-overlay {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  padding: 10px;
  border-radius: 8px;

  .property-info-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .property-title {
    font-size: 2.5rem;
    margin: 0;
    color: $info-color;
  }

  .property-subtitle {
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: normal;
    color: $info-color; /* Updated to match heading address */
  }

  .property-id {
    color: $info-color;
    font-size: 1rem;
    margin-top: 5px;
    font-weight: bold;
  }
}

.property-meta-container {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.property-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.property-meta {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;

  .property-meta-item {
    display: flex;
    align-items: center;
    background-color: $info-color; /* Use info color */
    padding: 5px 10px;
    border-radius: 5px;
    color: white; /* White text color */
    svg {
      margin-right: 5px;
      vertical-align: middle;
      color: white; /* Ensure icon color matches text */
    }
    span {
      display: inline-flex;
      align-items: center;
    }
  }
}

.property-buttons,
.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.property-buttons button,
.action-buttons button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: $info-color;
  color: white;
  letter-spacing: 0.05rem;

  &:hover {
    background-color: darken($info-color, 10%);
    color: white;
  }
}

.image-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white; /* Set background to white for contrast */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .image-thumbnail {
    position: relative;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 8px;
    }

    .image-status {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75rem;
      border-radius: 8px; /* Match the image's border-radius */
    }
  }

  .image-details {
    flex-grow: 1;
    margin-left: 20px;
    color: $secondary-color;
    background-color: transparent;
  }

  .image-actions {
    display: flex;
    gap: 15px; /* Spaced out the buttons */

    button {
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      color: white;
      background-color: $info-color;
      border: none;

      &:hover {
        background-color: darken($info-color, 10%);
      }

      &.reject-btn {
        background-color: $warning-color; /* Use warning color */
        &:hover {
          background-color: darken($warning-color, 10%);
        }
      }
    }
  }
}
