@import "../Styles/variables";

.admin-home-container {
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  justify-content: center;
  // margin: auto;
  // gap: 10rem;
  // width: 100%;
}

.property-card-container {
  // flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-property-card {
  text-align: center;
}

.empty-property-card, .property-card-container > * {
  border: 1px solid none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px;
  width: 80%;
  height: 95%;
}

.new-user-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  margin-left: 4rem;
  margin-top: 1rem;

  & h2 {
    text-align: left;
  }
}

.update-profile-section {
  height: 100%;
  // width: 30%;
  padding: 20px;
  border-left: 1px solid $primary-color;
}

@media screen and (max-width: 768px) {
  .admin-home-container {
    flex-direction: column;
    gap: 2rem;
  }

  .property-card-container, .update-profile-section {
    width: 100%;
  }

  .update-profile-section {
    border-left: none;
  }
  
}